<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/img1.jpg" alt="Dwi julianto" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Dwi julianto</h1>
            <p class="lead">Content | Creator</p>
        </div>
    </div>
</div>