<div class="container">
  <h1>Tambah Kontak</h1>
  <% if (typeof errors != 'undefined') { %>
    <div class="alert alert-dark" role="alert">
      
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error.msg %> </li>
          <% }) %>
        </ul>
    </div>
  <% } %>
  
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="/contact">
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" required>
                </div>
                <div class="mb-3">
                  <label for="nohp" class="form-label">No hp</label>
                  <input type="text" class="form-control" id="nohp" name="nohp" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" id="email" name="email" required>
                </div>
            
                <button type="submit" class="btn btn-primary">Simpan</button>
              </form>
        </div>
    </div>
</div>